<input th:value="${id}" type="hidden" id="viewOrderDetail">

<table class="table table-borderless table-sm">

    <tr>
        <td>Reference</td>
        <td>
            <input id="reference" readonly>
        </td>
    </tr>
    <tr>
        <td>Nama Pemesan</td>
        <td>
            <input id="namaPemesan" readonly>
        </td>
    </tr>
    <tr>
        <td>Tujuan Kota</td>
        <td>
            <input id="tujuanKota" readonly>
        </td>
    </tr>
    <tr>
        <td>Tujuan Wisata</td>
        <td>
            <input id="tujuuaWisata" readonly>
        </td>
    </tr>
    <tr>
        <td>Total Harga</td>
        <td>
            <input id="price" readonly>
        </td>
    </tr>
</table>
<button id="editviewBtnCancel" class="btn btn-outline-dark">Close</button>

<script src="../order/orderHeader.js"></script>