<input th:value="${id}" type="hidden" id="delWisataId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th></th>
        <td id="idDelete"></td>
    </tr>
</table>
<button id="delCancelBtn" class="btn btn-outline-dark">Cancel</button>
<button id="delDeleteBtn" class="btn btn-danger">Delete</button>

<script src="../wisata/deletewisata.js"></script>