<input th:value="${id}" type="hidden" id="editWisataId">

<table class="table table-borderless">
    <tr>
        <td>IdWisata</td>
        <td>
            <input id="idInput" class="form-control" maxlength="10" readonly>
            <small id="errId" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Kota</td>
        <td>
            <input id="kotaInput" class="form-control" maxlength="50">
            <small id="errKota" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>NamaWisata</td>
        <td>
            <input id="namaInput" class="form-control" maxlength="10">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Harga</td>
        <td>
            <input id="hargaInput" class="form-control" maxlength="50">
            <small id="errHarga" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../wisata/editwisata.js"></script>