
<table class="table table-borderless">
    <tr>
        <td>NamaKota</td>
        <td>
            <input id="kotaInput" class="form-control" maxlength="50">
            <small id="errKota" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editCancelBtn" class="btn btn-outline-dark">Cancel</button>
            <button id="editCreateBtn" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../kota/addKota.js"></script>