<input th:value="${id}" type="hidden" id="editKotaId">

<table class="table table-borderless">
    <tr>
        <td>IdKota</td>
        <td>
            <input id="idKotaInput" class="form-control" maxlength="10" readonly>
            <small id="errId" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>NamaKota</td>
        <td>
            <input id="kotaInput" class="form-control" maxlength="50">
            <small id="errKota" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../kota/editkota.js"></script>